<!DOCTYPE html>
<html lang="en">
<head>
    <Style>
      
        
 a{
            text-decoration: none;
        }
.contact100-form-btn {
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  
  height: 62px;

  font-family: fantasy;
  font-size: 25px;
  background-color:  aqua;
  line-height: 1.2;
  text-transform: uppercase;
}

       </Style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    
<body>
    
       <center> <div class="align"  style="margin-top: 5cm; width: 7cm; height: 5cm;">
           <center> 
            <button class="contact100-form-btn" ><a href="/gotostudent" ><span>STUDENT</span></a></button>
               <br>
               <br>
            <button class=" contact100-form-btn" ><a href="/gototeacher"><span>LECTURERS</span></a></button>
          </center>

    </div>
    </center>
</body>
</html>



<!--
                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn">
							Submit
						</button>
                    </div>
                </div>-->
